<div id="timer">
    <div id="action-expected">
        Game starts in/&lt;Player&gt;'s turn ends in
    </div>
    <div id="time-left">
        Time left for action
    </div>
</div>

<div id="game-screen">
    <div id="game-grid-panel">
        The game board shall be here
    </div>

    <div id="players-list-panel">
        <div class="header">
            <h2>Players</h2>
        </div>
        <div>
            <table id="players-table">
                <tbody id="players-list">
                </tbody>
            </table>
        </div>
    </div>
</div>

