<div id="timer">
    <div id="action-expected">
    </div>
    <div id="time-left">
    </div>
    <div id="start-game" class="hidden">
        <button id="start-game-button" disabled="disabled">Start game</button>
    </div>
</div>

<div id="game-screen">
    <div id="game-grid-panel">
       <form id="game" method="POST" action="game">
		{{#each game}}{{this}}{{/each}}
			<div class="game-board">
			{{#each currentState}}
				{{#each this}}
					<input style="width: 50px; height: 50px; margin: 4px; padding: 5px;" type="submit" id="test" name="{{@../index}} {{@index}}" value="{{this}}">
				{{/each}}
				<br>
			{{/each}}
			</div>
		</form>
    </div>

    <div id="players-list-panel">
        <div class="header">
            <h2>Players</h2>
        </div>
        <div>
            <table id="players-table">
                <tbody id="players-list">
                </tbody>
            </table>
        </div>
    </div>
</div>