<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{head.title}}</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<header>

		<h1>
			<a href="/">
				{{header.title}}
			</a>
		</h1>

		<ul class="main-menu">
			{{#each header.menuItems}}
				<li class="menu-item {{@key}}{{#if this.current}} current{{/if}}">
					<a href="{{this.href}}">
						{{this.label}}
					</a>
				</li>
			{{/each}}
		</ul>

	</header>

	<h2>{{title}}</h2>
	{{{body}}}

	<footer>{{footer.copyright}}</footer>
</body>
</html>