<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, target-densitydpi=medium-dpi, minimal-ui">

	<title>{{head.title}}</title>

	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header class="main-header">
		<label for="navigationTriggerCheckbox" class="navigation-trigger"></label>
		
		<h1 class="header-title">
			<a href="/">{{header.title}}</a>
		</h1>
	</header>

	<div class="main-content">
		<article class="page-container">
			{{#if title}}
				<header class="page-header">
					<h1 class="page-title">{{title}}</h1>
				</header>
			{{/if}}

			{{{body}}}
		</article>
	</div>

	<input type="checkbox" name="navigationTriggerCheckbox" id="navigationTriggerCheckbox">

	<label for="navigationTriggerCheckbox" class="navigation-overlay"></label>
	
	<nav class="navigation-bar">
		<header class="navigation-header">
			<a href="/" class="navigation-logo"></a>
			
			<ul class="user-links">
				{{#each header.userMenuItems}}
					<li class="user-menu-item {{@key}}{{#if this.current}} current{{/if}}">
						<a href="{{this.href}}">
							{{this.label}}
						</a>
					</li>
				{{/each}}
			</ul>
		</header>

		<ul class="main-menu">

			{{#each header.menuItems}}
				<li class="menu-item {{@key}}{{#if this.current}} current{{/if}}">
					<a href="{{this.href}}">
						{{this.label}}
					</a>
				</li>
			{{/each}}

		</ul>
	</nav>

	<footer class="main-footer">
		{{footer.copyright}}
	</footer>

	{{> debuglog }}
	
	<script type="text/javascript" src="/js/lib/jquery-3.0.0_min.js"></script>
	<script type="text/javascript" src="/js/utility/constants.js"></script>
	<script type="text/javascript" src="/js/utility/request.js"></script>
	<script type="text/javascript" src="/js/api/loginRequests.js"></script>
	<script type="text/javascript" src="/js/api/gameRequests.js"></script>
	<script type="text/javascript" src="/js/ui/loginRegistration.js"></script>
	<script type="text/javascript" src="/js/ui/gameListing.js"></script>
	<script type="text/javascript" src="/js/ui/gameCreation.js"></script>
</body>
</html>