body {
    margin: 0;
    color: #555;
    background: #f4f4f4;
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
}

a,
a:visited {
    text-decoration: none;
    color: #f74902;
}

a:hover,
a:active {
    color: #a20;
    text-decoration: underline;
}

#navigationTriggerCheckbox {
    display: none;
}

.navigation-bar {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    overflow-y: auto;
    background: #55565a;
    background: white;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

#navigationTriggerCheckbox:checked ~ .navigation-bar {
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.navigation-header {
    position: relative;
    padding-top: 140px;
    background: url(../img/banner.jpg) #0d314b;
}

.navigation-logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: url(/img/logo.png);
    background-size: 100%;
}

.user-links,
.main-menu {
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

.user-links li a,
.main-menu li a {
    display: block;
    padding: 10px;
    transition: all .1s ease-out;
}

.user-links li.current a,
.main-menu li.current a {
    font-weight: bold;
    
}

.user-links li a:hover,
.main-menu li a:hover {
    text-decoration: none;
    background: rgba(0,0,0,.2);
}

.user-links {
    background: rgba(255,255,255,.3);
}

.user-links li a {
    color: white;
}

.navigation-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(0,0,0,.3);
    transition: opacity .3s ease-out;
}

#navigationTriggerCheckbox:checked ~ .navigation-overlay {
    right: 0;
    left: 0;
    opacity: 1;
}

.main-header {
    padding: 10px 0px;
    background: white;
    border-bottom: 1px solid #f74902;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    width: calc(100% - 280px);
    min-width: 280px;
}

.main-header .navigation-trigger {
    position: relative;
    float: left;
    height: 12px;
    width: 20px;
    margin-top: 2px;
    margin-left: 10px;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    cursor: pointer;
}

.main-header .navigation-trigger:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    height: 2px;
    background: #888;
}

.main-header .header-title {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    margin: 0;
    padding: 0 20px;
}

.main-header .header-title a {
    color: #777;
}

.main-content {
    width: calc(100% - 280px);
    min-width: 280px;
}

.page-container {
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background: white;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.3);
    min-width: 280px;
}

.page-header {
    margin: -10px;
    margin-bottom: 10px;
    padding-top: 60px;
    background: #ffeecc;
    background: url(../img/banner.jpg) #0d314b;
}

.page-title {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    background: rgba(255,255,255,.3);
    color: white;
}

.main-footer {
    max-width: 800px;
    text-align: center;
    font-size: 12px;
    margin: 20px;
    color: #888;
}

@media screen and (min-width: 800px) {
    body {
        padding-left: 280px;
    }

    .main-header .navigation-trigger {
        display: none;
    }

    .page-container {
        margin: 20px;
    }

    .navigation-bar {
        box-shadow: 0 0 5px rgba(0,0,0,.3);
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

    #game-grid-panel {
        width: 65%;
        display: inline-block;
    }

    #players-list-panel {
        width: 30%;
        display: inline-block;
    }

    .profile-info {
        margin-left: 30px;
    }
}

@media screen and (max-width: 799px) {
    .main-header {
        width: 100%;
    }

    .main-content {
        width: 95%;
        margin: auto;
    }

    .page-container {
        margin: 10px 4px;
    }

    #game-grid-panel {
        display: block;
        width: 100%;
        margin: auto;
    }

    #game-grid-panel table {
        margin: auto;
    }

    #players-list-panel {
        width: 80%;
        margin: auto;
    }

    .profile-info {
        margin-left: 10px;
    }
}

#players-list-panel table {
    margin: auto;
}

/* reusables */

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-left: 2px solid #aaa;
    border-radius: 0;
    background: #fafafa;
    color: #555;
}

input:focus {
    border-left-color: #f74902;
}

button,
input[type=button],
input[type=submit],
a.button,
.button {
    -webkit-appearance: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 10px;
    color: white;
    font-size: inherit;
    border: 0 none;
    border-radius: 4px;
    background: #f74902;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,.3);
    transition: background .1s ease-out;
    cursor: pointer;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
a.button:hover,
.button:hover {
    background: #555;
    text-decoration: none;
}

button:active,
input[type=button]:active,
input[type=submit]:active,
a.button:active,
.button:active {
    background: #333;
    position: relative;
    top: 1px;
    outline: none;
}

button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
a.button:disabled,
.button:disabled {
    background: #777;
    position: relative;
    top: 1px;
    outline: none;
    cursor: not-allowed;
}

input#login-facebook {
    background-color: #3b5998;
}

input#login-facebook:hover {
    background-color: #555555;
}

.error-message {
    font-family: monospace;
    padding: 20px;
    background: #eee;
}

/* dashboard & ranking page */

.item-list-wrapper {
    position: relative;
    margin: 0 -10px -10px;
    text-align: center;
}

.create-item-button {
    margin-bottom: 10px;
}

.item-list-table {
    width: 100%;
    text-align: left;
}

.item-list-table th {
    padding: 10px;
    font-weight: normal;
}

.item-list-table td {
    border-top: 1px solid #ddd;
    padding: 20px 10px;
    vertical-align: middle;
}

.item-list-table td.user-large {
    font-size: 20px;
}

.item-list-table tr:first-child td {
    border-top: 1px solid #f74902;
}

.item-list-table tr:hover td {
    background: #eee;
}

.item-list-table .game-item-actions {
    padding: 0 10px;
    text-align: right;
}

/* profile page */

.profile-info{
    text-align: left;
}

.profile-info > p {
    line-height: 20px;
    margin: 0px;
}

.profile-info,
.profile-icon {
    display: inline-block;
}

.user-info-wrapper{
    display: flex;
}

.hidden {
    display: none;
}

.popup {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 50px;
    width: 40%;
    max-width: 400px;
    min-width: 320px;
    z-index: 10;

    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.popup .header {
    background: #0d314b url("../img/banner.jpg") repeat scroll 0 0;
}

.popup form {
    padding: 20px;
}

.popup label {
    display: block;
    padding: 10px 0px 5px 0px;
}

.popup input {
    margin: 0px;
    text-align: left;
}

.form-actions {
    text-align: center;
}

.centered {
    text-align: center;
}

.server-validation-error {
    border-radius: 2px;
    background-color: #f74902;
    color: #FFF;
    margin: 4px;
    padding: 10px;
}

#timer {
    margin-left: auto;
    margin-right: auto;
    width: 300px;

    text-align: center;
}

#game-screen {
    vertical-align: top;
    text-align: center;
}

#players-table td {
    padding: 6px;
}

tr.now-playing td {
    font-weight: bold;
}

.status-cell {
    width: 20px;
    height: 20px;
}

.alive {
    background-color: green;
}

.dead {
    background-color: red;
}

.player-name {
    text-align: left;
}

.score-cell {
    text-align: right;
    min-width: 60px;
}

.cell {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #B5B5B5;
    cursor: pointer;
    border-radius: 1px;
}

.open {
    background-color: #E5E5E5;
}

.mine {
    background-color: red;
}

.number {
    background-color: #E5E5E5;
    font-weight: bold;
}

#players-list-game-over {
    text-align: center;
    padding: 20px;
}

#players-table-game-over {
    margin: auto;
}

#invalidsuccess{
    color: darkred;
    font-size: 14px;
}

.successful{    
    color: darkred;
    font-size: 14px;
}

table.player-stats th {
    font-weight: normal;
    padding-right: 20px;
}

.error {
    background-color: #FFCCCC;
    padding: 20px;
    border-left: 2px solid #F74902;
    max-width: 800px;
}

.error h2 {
    color: #062037;
}

div#login-error {
    margin-bottom: 20px;
    text-align: left;
}

.login-screen {
    text-align: center;
    max-width: 500px;
}