body {
    margin: 0;
    color: #555;
    background: #f4f4f4;
    font-family: sans-serif;
}

a,
a:visited {
    text-decoration: none;
    color: #f74902;
}

a:hover,
a:active {
    color: #a20;
    text-decoration: underline;
}

#navigationTriggerCheckbox {
    display: none;
}

.navigation-bar {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    overflow-y: auto;
    background: #55565a;
    background: white;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

#navigationTriggerCheckbox:checked ~ .navigation-bar {
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.navigation-header {
    position: relative;
    padding-top: 140px;
    background: url(http://ecommera.com/sites/default/files/styles/hero_image_breakpoints_theme_orderdynamics_wide_1x/public/hero/rs_partners_banner.jpg) #0d314b;
}

.navigation-logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: url(/img/logo.png);
    background-size: 100%;
}

.user-links,
.main-menu {
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

.user-links li a,
.main-menu li a {
    display: block;
    padding: 10px;
    transition: all .1s ease-out;
}

.user-links li.current a,
.main-menu li.current a {
    font-weight: bold;
    
}

.user-links li a:hover,
.main-menu li a:hover {
    text-decoration: none;
    background: rgba(0,0,0,.2);
}

.user-links {
    background: rgba(255,255,255,.3);
}

.user-links li a {
    color: white;
}

.navigation-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(0,0,0,.3);
    transition: opacity .3s ease-out;
}

#navigationTriggerCheckbox:checked ~ .navigation-overlay {
    right: 0;
    left: 0;
    opacity: 1;
}

.main-header {
    padding: 10px;
    background: white;
    border-bottom: 1px solid #f74902;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.main-header .navigation-trigger {
    position: relative;
    float: left;
    height: 12px;
    width: 20px;
    margin-top: 2px;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    cursor: pointer;
}

.main-header .navigation-trigger:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    height: 2px;
    background: #888;
}

.main-header .header-title {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    margin: 0;
    padding: 0 20px;
}

.main-header .header-title a {
    color: #777;
}

.main-content {
    max-width: 800px;
}

.page-container {
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background: white;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.3);
}

.page-header {
    margin: -10px;
    margin-bottom: 10px;
    padding-top: 60px;
    background: #ffeecc;
    background: url(http://ecommera.com/sites/default/files/styles/hero_image_breakpoints_theme_orderdynamics_wide_1x/public/hero/rs_partners_banner.jpg) #0d314b;
}

.page-title {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    background: rgba(255,255,255,.3);
    color: white;
}

.main-footer {
    max-width: 800px;
    text-align: center;
    font-size: 12px;
    margin: 20px;
    color: #888;
}

@media screen and (min-width: 800px) {
    body {
        padding-left: 280px;
    }

    .main-header .navigation-trigger {
        display: none;
    }

    .page-container {
        margin: 20px;
    }

    .navigation-bar {
        box-shadow: 0 0 5px rgba(0,0,0,.3);
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
}

/* reusables */

input {
    display: block;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-left: 2px solid #aaa;
    background: #fafafa;
    color: #555;
}

input:focus {
    border-left-color: #f74902;
}

button,
input[type=button],
input[type=submit],
a.button,
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    color: white;
    font-size: inherit;
    border: 0 none;
    border-radius: 4px;
    background: #f74902;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,.3);
    transition: background .1s ease-out;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
a.button:hover,
.button:hover {
    background: #555;
    text-decoration: none;
}

button:active,
input[type=button]:active,
input[type=submit]:active,
a.button:active,
.button:active {
    background: #333;
    position: relative;
    top: 1px;
}

.error-message {
    font-family: monospace;
    padding: 20px;
    background: #eee;
}

/* dashboard & ranking page */

.item-list-wrapper {
    position: relative;
    margin: 0 -10px -10px;
    text-align: center;
}

.create-item-button {
    margin-bottom: 10px;
}

.item-list-table {
    width: 100%;
    text-align: left;
}

.item-list-table th {
    padding: 10px;
    font-weight: normal;
}

.item-list-table td {
    border-top: 1px solid #ddd;
    padding: 20px 10px;
}

.item-list-table tr:first-child td {
    border-top: 1px solid #f74902;
}

.item-list-table tr:hover td {
    background: #eee;
}

.item-list-table .game-item-actions {
    padding: 0 10px;
    text-align: right;
}

/* profile page */

.profile-info{
    text-align: right;
    margin-left: 30px;
}

.profile-info > p {
    line-height: 20px;
    margin:0px;
    font-family: 
}

.profile-info,
.profile-icon {
    display: inline-block;
}

.user-info-wrapper{
    display: flex;
}