<div class="login-screen">
    <form id="register" class="user-form">
        <input id="register-email" type="email" placeholder="Your email" required />
        <input id="register-name" type="text" pattern=".{2,64}" placeholder="Display name" required />

        <input id="register-password" type="password" placeholder="Password" required />
        <input id="register-password-confirm" type="password" placeholder="Confirm password" required />

        <input type="submit" id="submit-registration" class="positive-action" value="Register" />
    </form>
</div>