<div class="item-list-wrapper">
    {{#if users}}
        <table class="item-list-table" cellspacing="0">
            <thead>
                <th>#</th>
                <th>Player</th>
                <th>Score</th>
            </thead>
            <tbody>

                {{#each users}}
                    <tr>
                        <td>{{increment @index}}</td>
                        <td>
                            <a href="{{../profileLink}}{{this.id}}">{{this.name}}</a>
                        </td>
                        <td>
                            {{this.score}}
                        </td>
                    </tr>
                {{/each}}

            </tbody>
        </table>
    {{else}}
        <p>Nobody has played a game yet. Why don't you start one?</p>
    {{/if}}
</div>