<div class="user-info-wrapper">
	<div class="profile-icon">
		<img src="../../img/Mario-Profile-icon.png" width="100px" height="100px">
	</div>
	<div class="profile-info">
        <h2>{{userProfile.name}}</h2>
        <table class="player-stats">
            <tr>
                <th>Number of games played</th>
                <td>{{userProfile.gamesPlayed}}</td>
            </tr>
            <tr>
                <th>Average score</th>
                <td>{{userProfile.averageScore}}</td>
            </tr>
            <tr>
                <th>All-time BEST score</th>
                <td>{{userProfile.bestScore}}</td>
            </tr>
            <tr>
                <th>All-time WORST score</th>
                <td>{{userProfile.worstScore}}</td>
            </tr>
        </table>
	</div>
</div>

